/*============ Trang giới thiệu ==============*/

.breadcrumbs-title h1{
    background: none;
    font-size: 14;
    font-weight: 800;
    width: fit-content;
    text-align: center;
    margin: 0 20%;
}
.text-content{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    padding-bottom: 20px;
}
.item-box{
    min-height: 150px;
    text-align: center;
    justify-content: center;
}
.teacher-area .blog-post img{
    width: 100%;
}
/*=========================================*/